{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div id="map" class="map"></div>
<script type="text/javascript">

// click sur la carte = nouveau cercle
// dessiner un cercle
/*
var styles = {
    '10': new ol.style.Style({
        radius:5,
        fill: new ol.style.Fill({color: '#666666'}),
        stroke: new ol.style.Stroke({color: '##bada55', width:1})
    })
};
*/
var vectorSource = new ol.source.Vector({
    features: features,
    wrapX: false
});

var vector = new ol.layer.Vector({
    source: vectorSource,
    style: function(feature) {
        return styles[feature.get('size')];
    }
});

var objects = new Array(100);
var count = 0;

var map = new ol.Map({
    target: 'map',
    layers: [
        new ol.layer.Tile({
            source: new ol.source.OSM()
        })
    ],
    view: new ol.View({
        center: ol.proj.fromLonLat([-1.67, 48.11]),
        zoom:13
    }),
    controls: ol.control.defaults().extend([
        new ol.control.ScaleLine()
    ]),
});

var drawCircle = function(coordinate) {
    window.console.log(coordinate);
    objects[count] = new ol.Feature({
        'geometry': new ol.geom.Point(coordinate),
        'count': count,
        'size': 10
    });
    map.render();
};

map.on('click', function(evt) {
    drawCircle(evt.coordinate);
});

var view = map.getView();

var geolocation = new ol.Geolocation({
    // take the projection to use from the map's view
    projection: view.getProjection()
});
// listen to changes in position
geolocation.on('change', function(evt) {
    window.console.log(geolocation.getPosition());
});
</script>

{% endblock %}
