{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div id="map" class="map"></div>
<script type="text/javascript">
var map = new ol.Map({
    target: 'map',
    layers: [
        new ol.layer.Tile({
            source: new ol.source.OSM()
        })
    ],
    view: new ol.View({
        center: ol.proj.fromLonLat([-1.67, 48.11]),
        zoom:13
    }),
    controls: ol.control.defaults().extend([
        new ol.control.ScaleLine()
    ]),
});

var view = map.getView();

var geolocation = new ol.Geolocation({
    // take the projection to use from the map's view
    projection: view.getProjection()
});
// listen to changes in position
geolocation.on('change', function(evt) {
    window.console.log(geolocation.getPosition());
});
</script>

{% endblock %}
